[submodule "diffuser"]
	path = diffuser
	url = git://github.com/sharpsaw/diffuser.git
[submodule "hub"]
	path = hub
	url = git://github.com/defunkt/hub.git
[submodule "xcompose"]
	path = xcompose
	url = https://github.com/kragen/xcompose.git
