[submodule "diffuser"]
	path = diffuser
	url = git://github.com/sharpsaw/diffuser.git
[submodule "xcompose"]
	path = xcompose
	url = git@github.com:ryanjosephking/xcompose.git
[submodule "zsh-git-prompt"]
	path = zsh-git-prompt
	url = git://github.com/olivierverdier/zsh-git-prompt.git
[submodule "reval.vim"]
	path = reval.vim
	url = git@github.com:ryanjosephking/reval.vim
