[submodule "reval.vim"]
	path = reval.vim
	url = https://github.com/ryanjosephking/reval.vim
[submodule ".vim/bundle/joy"]
	path = .vim/bundle/joy
	url = git@github.com:rking/vim-joy
[submodule ".vim/bundle/csv"]
	path = .vim/bundle/csv
	url = https://github.com/chrisbra/csv.vim
